.detailsContainer {
  border: 1px solid #207d92;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}

.employeesHeadline {
  margin-top: 5px;
  margin-bottom: 5px;
}

.employeeButtonsHolder {
  display: flex;
  justify-content: space-evenly;
}

.absenceFormWrapper {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin: auto;
  text-align: center;
  height: 500px;
}

.absenceForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dialogContent {
  overflow: auto;
}

.datePickers {
  z-index: 2000;
  margin: auto;
  margin-top: 0%;
}

.absenceIcon {
  size: 50;
}

.dateHolder {
  margin: auto;
  display: flex;
  padding: 8%;
  flex-direction: column;
}
.registerAbsenceHeader {
  text-align: center;
  padding-top: 50px;
}

.deleteIcon {
  margin: 2px;
}
/*
.s-alert-success {
	background: ;
}
*/

.s-alert-box {
  border-radius: 7px;
}

@media only screen and (max-width: 1100px) {
  .absenceFormWrapper {
    width: 500px;
    padding-top: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .absenceFormWrapper {
    margin-top: 10px;
    padding-top: 5px;
  }

  .employeeButtonsHolder {
    flex-direction: column;
  }

  .absenceFormWrapper {
    width: 300px;
  }

  .absenceForm {
    flex-direction: column;
  }
}
