.employeeButtonsHolder {
	display: flex;
	justify-content: space-evenly;
}

.absenceFormWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		text-align: center;
	}

.absenceForm {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.absenceFormDatePicker {
		margin: auto;
}

.registerAbsenceHeader {
	text-align: center;
	padding-top: 50px;
}

.MuiDialog-paperWidthSm-92 {
	width: 100%;
	height: 100%;
}

.deleteIcon {
	margin: 2px;
}

@media only screen and (max-width: 1100px){
	.MuiDialog-paperWidthSm-151 {
		width: 100%;
		height: 60%;
		padding-top: 40px;
	}

	.absenceFormWrapper {
		margin-top: 75px;
		padding-top: 75px;
	}
}

@media only screen and (max-width: 600px) {
	.MuiDialog-paperWidthSm-151 {
		height: 80%;
		padding-top: 40px;
	}
	
	.absenceFormWrapper {
		margin-top: 10px;
		padding-top: 5px;
	}

	.employeeButtonsHolder {
		flex-direction: column;
		
	}
}