.baseCardHolder {
    display: flex;
    justify-content: space-around;
}

.baseCard {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
    margin: 10px;
    width: 20%;
  }

.baseCardList {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 2px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 250px;
  }

.employeeList {
    padding: 8px;
    transition: background-color 0.2s ease;
    background-color: white;
    border: 1px solid white;
    flex-grow: 1;
}

.baseCardOverviewHeader {
    margin-bottom: 10px;
    margin-top: 20px;
}

.basecardHeader {
    margin: 8px;
}

.childrenHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.childrenPresent {
    margin-right: 10px;
}

.childPresentIcon {
    margin-right: 5px;
}

.childAbsentButton {
    height: 15px;
    margin-top: 5px;
}

.childAbsentIcon {
    font-size: 18px;
}

.childAbsentIcon:hover {
    color: rgb(105, 104, 104); 
}

.childrenAtBaseHolder {
    margin-right: 5px;
    margin-top: 10px;
}

.childrenText {
    margin:0;
    font-size: 15px;
}

.employeesHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:5px;
    margin-bottom: 15px;
}

.employeeCountHolder {
    display: flex;
    flex-direction: column;
}

.employeesAtBase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.employeesAtBaseNumber {
    margin: 4px;
}

.employeesNeeded {
    font-size: 15px;
}

.employeesText {
    font-size: 15px;
    margin:0;
}

@media only screen and (max-width: 1100px) {
    .baseCard {
        width: 100%;
    }
    .baseCardHolder {
        display: inline-grid;
        grid-template-columns: 300px 300px;   
        justify-content: space-evenly;
        grid-column-gap: 50px;
    }

    .childAbsentButton {
        height: 15px;
        margin-top: 10px;
    }
    
    .childAbsentIcon {
        font-size: 25px;
    }

}

@media only screen and (max-width: 600px) {
    .baseCardHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .baseCard {
        width: 250px;
    }

    .baseCardList {
        margin-left: 13px;
    }

}