.baseCardHolder {
    display: flex;
    justify-content: space-around;
}

.baseCard {
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
    margin: 10px;
    min-height: 330px;
  }

.baseCardList {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 220px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

.employeeList {
    padding: 8px;
    transition: background-color 0.2s ease;
    background-color: white;
    border: 1px solid white;
    flex-grow: 1;
    min-height: 150px;
    max-height: 330px;
}

.baseCardOverviewHeader {
    margin-bottom: 10px;
    margin-top: 20px;
}

.basecardHeader {
    margin: 8px;
}

.childrenHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.childrenPresent {
    margin-right: 10px;
}

.childPresentIcon {
    margin-right: 5px;
}

.childAbsentButton {
    height: 15px;
    margin: 2px;
}

.childAbsentIcon:hover {
    color: rgb(105, 104, 104); 
}

.employeesAtBase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.employeesAtBaseNumber {
    margin: 4px;
}

.employeesNeeded {
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .baseCardHolder {
        flex-direction: column;
        align-items: center;
    }

    .baseCard {
        width: 250px;
    }

    .baseCardList {
        margin-left: 13px;
    }

}