.baseCardHolder {
  display: flex;
  justify-content: space-around;
}

.baseCard {
  background-color: white;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 40px;
  margin: 10px;
  width: 20%;
}

.baseCardList {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
}

.employeeList {
  padding: 8px;
  transition: background-color 0.2s ease;
  background-color: white;
  border: 1px solid white;
  flex-grow: 1;
}

.employeeCard {
  border-radius: 5px;
  border: 0px;
}
.employeeCard:hover {
  background-color: #e76f50;
  border-radius: 5px;
  border: 0px;
}

.baseCardOverviewHeader {
  margin-bottom: 10px;
  margin-top: 20px;
}

.basecardHeader {
  font-size: 25px;
  margin: 8px;
}

.childrenHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.childrenPresent {
  margin-right: 10px;
  font-weight: bold;
}

.childPresentIcon {
  margin-right: 5px;
}

.childAbsentButton {
  height: 15px;
  margin-top: 5px;
}

.childAbsentIcon {
  font-size: 18px;
  transition: 0.15s;
}

.childAbsentIcon:hover {
  color: rgb(105, 104, 104);
  cursor: pointer;
}

.childrenAtBaseHolder {
  margin-right: 5px;
  margin-top: 10px;
}

.childrenText {
  margin: 0;
  font-size: 15px;
}

.employeesHolder {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.employeeCountHolder {
  display: flex;
  flex-direction: column;
}

.employeesAtBase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.employeesAtBaseNumber {
  margin: 4px;
  font-weight: bold;
}

.employeesNeeded {
  font-size: 15px;
}

.employeesText {
  font-size: 15px;
  margin: 0;
}

.addButton {
  position: relative;
  display: inline-block;
  left: 39%;
  bottom: 5px;
  background-color: #207d92;
  height: 36px;
  width: 36px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 1px 5px black;
  transition: 0.25s;
}

.addText {
  color: white;
  position: relative;
  display: inline-block;
  left: 0;
  bottom: 5px;
  background-color: #207d92;
  height: 36px;
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 1px 5px black;
}

.txt {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  top: 8px;
}

.ic {
  position: absolute;
  top: 9px;
  right: 9px;
}

@media only screen and (max-width: 1100px) {
  .baseCard {
    width: 100%;
  }
  .baseCardHolder {
    display: inline-grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    grid-column-gap: 50px;
  }

  .childAbsentButton {
    height: 15px;
    margin-top: 10px;
  }

  .childAbsentIcon {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .baseCardHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .baseCard {
    width: 250px;
  }
}
